.dashboard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0 auto 0 5%;
  background-color: #fff;
  position: relative;
}

.dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.fid-logo{
  position: absolute;
  top: 2vh;
  left: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.vault-image{
  height: 65px;
  margin-right: 100vh;
  margin-left: 20px;
  /* left: 20spx; */
}

.fil-image{
  margin-left: 25vh;
}

.center-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.center-view img{
  width: 56px;
  height: 56px;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vh;
  text-align: center;
  /* align-items: center; */
  justify-content: space-between;
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 32px;
}

.crypto-button{
  color: white;
  background-color: #4AA00F;
  margin-bottom: 2%;
  padding: 8px 32px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.crypto-button:hover{
  background-color: #5ab51d;
  color: black;
}

.trans{
  justify-content: center;
  margin-left: 10px;
}

img{
  align-items: center;
  justify-content: center;
}

