.send-crypto-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  padding: 20px;
  background-color: #eeeff0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateX(0); /* Start with modal positioned on the screen */
  animation: fadeSlideIn 0.2s ease forwards; /* Apply the fade-in animation */
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.send-crypto-modal.active {
  opacity: 1; /* Change opacity to 1 when active */
  transform: translateX(0);
}

.send-crypto-modal h2 {
  margin-top: 0;
}

.send-crypto-modal .input-fields {
  margin: 20px 0;
}

.send-crypto-modal label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.send-crypto-modal input {
  display: block;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

.button-send {
  padding: 8px 32px;
  background-color: #4AA00F;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-send:hover {
  background-color: #3a913d;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

hr {
  background: #4AA00F;
  color: #4AA00F;
  border: #4AA00F;
  height: 3.5px;
}

.title {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 5px;
  align-items:center ;
  text-align: left;
  margin-left: 0;
}
.title > h2 {
  width: 100%;
  text-align: left;
}

.title button {
  background-color: #eeeff0;
  font-weight: bold;
}

.title button:hover {
  background-color: #d1d5da;
}

/* Styling for the success message */
.success-message {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.api-toggle {
  position: absolute;
  left: -9999px;
}

.api-button {
  background-color: #006193;;
  color: white;
  border: 1px solid black ;
  padding: 5px 20px;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 5px;
  z-index: 1;
}

.API {
  border: 1px solid black;
  background-color: lightgray;
  padding: 10px;
  margin-top: 10px;
  display: none;
  border-radius: 5px;
  word-wrap: break-word;
  max-height: 150px; /* Set the maximum height for the container */
  overflow: auto; /* Add a scrollbar when content exceeds the container height */
  font-size: 14px;
}

.api-toggle:checked ~ .API {
  display: block;
}

.msg {
  font-weight: bold;
}

.error-message {
  color: red;
  margin-top: 5px;
}